# Este archivo almacena la configuración necesaria en local para que Docker los pueda arrancar y no tener que escribirlos a mano cada vez.
#
# DATOS QUE SE DEBEN INTRODUCIR EN ESTE ARCHIVO:
TASK_ID=           # ID de la Task en OpenVAS
GMP_USER=          # Nombre de usuario de la API de OpenVAS
GMP_PASSWORD=      # Contraseña de la API de OpenVAS













FORMAT_ID=5057e5cc-b825-11e4-9d0e-28d24461215b
BASE_DIR=/reports
OPENVASPYTHON_HOST=localhost
OPENVASPYTHON_PORT=9392 # Puerto default